/* default settings
body {
  background-color: pink;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 2000px;
}

.content {
  position: absolute;
  top: 600px;
  background-color: #fefefe;
  padding: 50px;
  margin: 20px;
  box-shadow: inset 1px 1px 11px 0px black;
}
*/

/* VARIAVEIS */
$font-size-small: 10px;
$font-size-normal: 14px;
$font-size-large: 28px;

$color-white: #ffffff;
$color-black: #000000;
$color-background: #dddddd;
$color-pink: #F08080;
$color-dark-blue: #21498a;

$border-text: 3px solid #ff0000;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  &__title {
    border-left: $border-text;
    padding: 0.1rem 0.3rem;
    font-size: $font-size-large;
    font-weight: 700;
    margin: 2rem 10rem;
  }

  &__body {
    background-color: $color-background;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
  }

  &__subtitle {
    color: $color-black;
    font-size: $font-size-large;
    &--pink {
      color: $color-pink;
    }
  }

  &__info {
    padding: 10rem;
    padding-right: 8rem;
  }

  &__text {
    font-size: $font-size-small;
    margin: 1rem 0;
  }

  &__btn {
    background-color: $color-black;
    padding: 0.5rem 1rem;
    border: none;
    color: $color-white;
    font-size: $font-size-small;
  }

  &__image {
    img {
      width: 100%;
      height: 100%;
    }
  }

  &--secondaryConversion {

    .banner {
      &__body {
        display: grid;
        grid-template-columns: 1fr 2fr;
      }

      &__image {
        padding: 2rem 0.1rem 2rem 10rem;
        order: -1;
        img {
          width: 100%;
          height: auto;
        }
      }

      &__info {
        padding: $font-size-small;
      }

      &__subtitle {
        font-size: $font-size-normal;
      }

      &__btn {
        background-color: $color-pink;
      }
    }
  }
}

.contacts {
  display: none;
  background-color: $color-dark-blue;
  color: $color-white;
  font-family: 'poppins',sans-serif;
  padding: 2rem;
  padding-left: 10rem;
  height: 15rem;
  margin-top: 1rem;
  position: relative;

  &.visible {
    display: block;
  }

  &__title {
    font-size: $font-size-large;
    
  }

  &::before {
    content: '';
    height: 0;
    width: 0;
    border: 0.5rem solid transparent;
    border-bottom: 0.5rem solid $color-dark-blue;
    position: absolute;
    top: -1rem;
    left: 10rem;
  }
}
